[MAIN]
jobs=0
persistent=no

[MESSAGES CONTROL]
disable=all
enable=
    W,
    E,
    F,

[REPORTS]
reports=no
score=yes

[FORMAT]
max-line-length=120

[BASIC]
good-names=i,j,k,ex,Run,_,id,ok,x,y,md,fn,msg,err

[DESIGN]
max-args=10
max-locals=20
max-returns=10
max-branches=15
max-statements=60
max-attributes=15
max-public-methods=25

[EXCEPTIONS]
overgeneral-exceptions=builtins.Exception

[SIMILARITIES]
min-similarity-lines=20
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes

[VARIABLES]
dummy-variables-rgx=_$

[BAD-FUNCTIONS]
bad-names=foo,bar,baz,toto,tutu,tata

[MASTER]
ignore=tests