[MAIN]
ignore=venv,.git,__pycache__
extension-pkg-whitelist=

[MESSAGES CONTROL]
disable=design,refactoring,similarities

[REPORTS]
reports=yes
score=yes

[FORMAT]
max-line-length=120

[BASIC]
good-names=i,j,k,ex,Run,_,id,ok

[DESIGN]
max-args=10
max-locals=20
max-returns=10
max-branches=15
max-statements=60
max-attributes=15
max-public-methods=25