[MAIN]
ignore=tests,venv,.git,__pycache__,.mypy_cache,.ruff_cache
extension-pkg-allow-list=aiohttp,textual
persistent=no

[MESSAGES CONTROL]
disable=design,refactoring,similarities,W2301

[REPORTS]
reports=no
score=yes

[FORMAT]
max-line-length=120

[BASIC]
good-names=i,j,k,ex,Run,_,id,ok,TNum

[DESIGN]
max-args=10
max-locals=20
max-returns=10
max-branches=15
max-statements=60
max-attributes=15
max-public-methods=25

[EXCEPTIONS]
overgeneral-exceptions=builtins.Exception
